node_modules
.DS_Store
dist
dist-ssr
*.local
count.txt
.env
.nitro
.tanstack
.wrangler
.output
.vinxi
__unconfig*
todos.json
skills
.skills-lock
.atl
.agents
.claude
.codebuddy
.continue
.junie
.kiro
CLAUDE.md
skills-lock.json

.gga
.zed/settings.json
*.md
